<div class="row">
    <img src="@src" @attributes=AllOtherAttributes />

    @ChildContent
</div>

@code  
{
    [Parameter]
    public string src { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    //[Parameter]
    //public RenderFragment Footer { get; set; }
}