@page "/"


@*<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MyFirstComponent @ref=myComponent />

<Counter OnMultipleOfThree=@UpdateMultipleOfThree />

Ostatnia wartość MultipleOfThree to @LastMultipleThreeValue*@

<h1>Wybierz opcję</h1>

<input @bind-value=firstOptionValue type="checkbox" /> First checkbox
<br />
<input @bind-value=secondOptionValue type="checkbox" /> Second checkbox
<br />

<CascadingValue Name="FirstOption" Value="@firstOptionValue">
  <CascadingValue Name="SecondOption" Value="@secondOptionValue">
      <FirstLevelComponent />
  </CascadingValue>
</CascadingValue>

<MyCustomImage src=@url alt="Custom text" >
    Jakiś <b>Tekst</b>
@*   <ChildContent>

   </ChildContent>

   <Footer>

   </Footer>*@
</MyCustomImage>

@code
{
    Dictionary<string, object> AdditionalAttributes;
    string url = "https://randomuser.me/api/portraits/lego/1.jpg";
    bool firstOptionValue;
    bool secondOptionValue;

    public MyFirstComponent myComponent { get; set; }

    protected override void OnInitialized()
    {
        //myComponent.CurrentCounterValue = 32;
        base.OnInitialized();

        AdditionalAttributes = new Dictionary<string, object>();

        for (int i = 0; i < 5; i++)
        {
            AdditionalAttributes.Add("attribute_" + i, i);
        }
    }

    public int LastMultipleThreeValue { get; set; }

    private void UpdateMultipleOfThree(int value)
    {
        LastMultipleThreeValue = value;
    }
}