@page "/"
@inject IVersionProvider VersionProvider


<Table Striped>
  <TableHeader>
    <TableRow>
      <TableHeaderCell>Autor</TableHeaderCell>
      <TableHeaderCell>Tytuł</TableHeaderCell>
      <TableHeaderCell>Liczba stron</TableHeaderCell>
      <TableHeaderCell>Czy wypożyczony</TableHeaderCell>
      <TableHeaderCell>Imie wypożycz.</TableHeaderCell>
      <TableHeaderCell>Nazwisko wypożycz.</TableHeaderCell>
    </TableRow>
  </TableHeader>
  <TableBody>
    <TableRow>
      <TableRowCell></TableRowCell>
      <TableRowCell></TableRowCell>
      <TableRowCell></TableRowCell>
      <TableRowCell></TableRowCell>
      <TableRowCell></TableRowCell>
      <TableRowCell></TableRowCell>
    </TableRow>
  </TableBody>
</Table>
